adf-resources/pipeline/Olympic Athlete Bio Ingestion.json
{
	"name": "Olympic Athlete Bio Ingestion",
	"properties": {
		"activities": [
			{
				"name": "Copy_Olympic_Athlete_Bio_Data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Olympic_Athlete_Bio_Table",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Olympic_Athlete_Bio_Storage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Create_External_Olympic_Athlete_Bio_Table",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy_Olympic_Athlete_Bio_Data",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://adb-3820050844556791.11.azuredatabricks.net/api/2.1/jobs/run-now/",
					"body": {
						"value": "{\n  \"job_id\": \"950675784745583\",\n  \"python_params\": [\n    \"--command\", \"adls-ingest\",\n    \"--target-path\", \"/path/to/data\",\n    \"--target-format\", \"delta\",\n    \"--target-mode\", \"append\",\n    \"--target-catalog\", \"test_adf\",\n    \"--target-schema\", \"test\",\n    \"--target-table\", \"olympic_athlete_bio\",\n    \"--source-path\", \"abfss://dbxdatumo-external@dbxdatumoextstorage.dfs.core.windows.net/olympic_athlete_bio/\",\n    \"--source-format\", \"parquet\",\n    \"--source-schema-location\", \"abfss://dbxdatumo-external@dbxdatumoextstorage.dfs.core.windows.net/schemas/\",\n    \"--target-checkpoint-location\", \"abfss://dbxdatumo-external@dbxdatumoextstorage.dfs.core.windows.net/checkpoints/olympic_athlete_bio/\"\n    ]\n}\n",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
					}
				}
			},
			{
				"name": "Wait_For_Databricks_Job_Completion",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Create_External_Olympic_Athlete_Bio_Table",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(activity('Check_Databricks_Job_Status').output.run_state.result_state, 'SUCCESS'), equals(activity('Check_Databricks_Job_Status').output.run_state.result_state, 'FAILED'))\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check_Databricks_Job_Status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "https://adb-3820050844556791.11.azuredatabricks.net/api/2.0/jobs/runs/get?run_id=@{activity('Create_External_Olympic_Athlete_Bio_Table').output.run_id}\n",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
								}
							}
						}
					],
					"timeout": "0.00:00:30"
				}
			}
		],
		"annotations": []
	}
}