adf-resources/templates/Olympic Athlete Bio Ingestion Template/Olympic Athlete Bio Ingestion Template.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"OlympicAthleteBioSqlDatabase1": {
			"type": "string"
		},
		"AzureDataLakeStorage1": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Olympic Athlete Bio Ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Olympic_Athlete_Bio_Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Olympic_Athlete_Bio_Table",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Olympic_Athlete_Bio_Storage",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Create_External_Olympic_Athlete_Bio_Table",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy_Olympic_Athlete_Bio_Data",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"url": "https://adb-3820050844556791.11.azuredatabricks.net/api/2.1/jobs/run-now/",
							"body": {
								"value": "{\n  \"job_id\": \"950675784745583\",\n  \"python_params\": [\n    \"--command\", \"adls-ingest\",\n    \"--target-path\", \"/path/to/data\",\n    \"--target-format\", \"delta\",\n    \"--target-mode\", \"append\",\n    \"--target-catalog\", \"test_adf\",\n    \"--target-schema\", \"test\",\n    \"--target-table\", \"olympic_athlete_bio\",\n    \"--source-path\", \"abfss://dbxdatumo-external@dbxdatumoextstorage.dfs.core.windows.net/olympic_athlete_bio/\",\n    \"--source-format\", \"parquet\",\n    \"--source-schema-location\", \"abfss://dbxdatumo-external@dbxdatumoextstorage.dfs.core.windows.net/schemas/olympic_athlete_bio/\",\n    \"--target-checkpoint-location\", \"abfss://dbxdatumo-external@dbxdatumoextstorage.dfs.core.windows.net/checkpoints/olympic_athlete_bio/\"\n    ]\n}\n",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
							}
						}
					},
					{
						"name": "Wait_For_Databricks_Job_Completion",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Create_External_Olympic_Athlete_Bio_Table",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Check_Databricks_Job_Status').output.state.life_cycle_state, 'TERMINATED')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Check_Databricks_Job_Status",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"url": {
											"value": "https://adb-3820050844556791.11.azuredatabricks.net/api/2.0/jobs/runs/get?run_id=@{activity('Create_External_Olympic_Athlete_Bio_Table').output.run_id}\n",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
										}
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					},
					{
						"name": "Check Job Success",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Wait_For_Databricks_Job_Completion",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Check_Databricks_Job_Status').output.state.result_state, 'SUCCESS')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "Pipeline failed due to unsuccessful job completion.",
											"type": "Expression"
										},
										"errorCode": {
											"value": "DB_JOB_FAILURE",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Success",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "pipelineReturnValue",
										"value": [
											{
												"key": "success",
												"value": {
													"type": "Boolean",
													"content": true
												}
											}
										],
										"setSystemVariable": true
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Olympic_Athlete_Bio_Table')]",
				"[concat(variables('factoryId'), '/datasets/Olympic_Athlete_Bio_Storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Olympic_Athlete_Bio_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('OlympicAthleteBioSqlDatabase1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "athlete_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "sex",
						"type": "nvarchar"
					},
					{
						"name": "born",
						"type": "nvarchar"
					},
					{
						"name": "height",
						"type": "int",
						"precision": 10
					},
					{
						"name": "weight",
						"type": "nvarchar"
					},
					{
						"name": "country",
						"type": "nvarchar"
					},
					{
						"name": "country_noc",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "nvarchar"
					},
					{
						"name": "special_notes",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Olympic_Athlete_Bio"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Olympic_Athlete_Bio_Storage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureDataLakeStorage1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('output_', formatDateTime(utcnow(), 'yyyy-MM-dd_HH-mm-ss'), '.parquet')",
							"type": "Expression"
						},
						"folderPath": "olympic_athlete_bio",
						"fileSystem": "dbxdatumo-external"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "athlete_id",
						"type": "INT32"
					},
					{
						"name": "name",
						"type": "UTF8"
					},
					{
						"name": "sex",
						"type": "UTF8"
					},
					{
						"name": "born",
						"type": "UTF8"
					},
					{
						"name": "height",
						"type": "INT32"
					},
					{
						"name": "weight",
						"type": "UTF8"
					},
					{
						"name": "country",
						"type": "UTF8"
					},
					{
						"name": "country_noc",
						"type": "UTF8"
					},
					{
						"name": "description",
						"type": "UTF8"
					},
					{
						"name": "special_notes",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		}
	]
}